body{
    background:black;
}
.container{
    border:5px solid blue;
    display:flex;
    flex-direction: row;
    justify-content: center;
   
}
.container__layout{
    
    display:flex;
    align-items: center;
    justify-content:center;
    position: relative;
    background: white;
    /* top:100px; */
    width:500px;
    height:300px;
}