* {
  margin: 0px;
  box-sizing: border-box;
}

body {
  background: black;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container__layout {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 20px;
  top: 100px;
  width: 500px;
  height: 200px;
}

.container__bar {
  position: relative;
  top: 15px;
  border-radius: 30px;
  background: #dbd7cb;
  width: 400px;
  height: 15px;
}

.container__emoji {
  position: absolute;
}

.container__emoji-slider {
  position: absolute;
  top: 3px;
  left: -200px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

.container__emoji-slider-animation {
  position: absolute;
  top: 3px;
  left: -200px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: anime 2s 1;
}

@keyframes anime {
  from {
    top: 3px;
  }
  to {
    top: -100px;
  }
}
