body{
    background:black;
}
.container{
    display:flex;
    justify-content: center;
    align-content: center;
}
.container__layout{
    
    
    background: white;
    width:200px;
    height:200px;
}